.navBarStyle {
  border-radius: var(--borderRadius-28);
  background: var(--background-blur);
  backdrop-filter: var(--backdrop-filter);
}
.custom-scrollbar {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1b0fd;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1b0fd;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.logoCls {
  // min-height: 8vh;
  height: 10vh;
}
aside {
  height: 90vh;
}
.customAccordion button {
  padding: 12px 0px !important;
}

//Company name tag card
.shodow {
  border-radius: 20px;
}
.Storecard {
  border-radius: 20px;
  background: linear-gradient(
    111deg,
    rgba(255, 250, 250, 0.29) 0.44%,
    rgba(255, 255, 255, 0.2) 95.45%
  );
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);

  .StortimingColor {
    // color: #5b5555 !important;
    color: var(--textColor-timingColor);
  }
  // .cardHeader {
  //   color: var(--textColor-main)
  // }
  .iconbox {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
  }
  .cartfootercolor {
    color: #3b3939;
  }
  .Pricecolor {
    color: var(--textColor-priceColor);
  }
  .TextMaincolor {
    color: var(--textColor-main);
  }
  .PrimiumCardFooterBg {
    background-color: var(--background-white-50);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.11);
  }
}
.StorecardHeader {
  border-radius: 20px;
  background: linear-gradient(
    111deg,
    rgba(255, 250, 250, 0.29) 0.44%,
    rgba(255, 255, 255, 0.2) 95.45%
  );
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);

  .Iconwhatsup {
    background-color: var(--sidebarColor-checkColor);
  }
  .IconCall {
    background-color: var(--call);
  }
  .Iconlocation {
    background-color: var(--location);
  }
  .Iconweb {
    background-color: var(--web);
  }
  .IconShare {
    background-color: var(--share);
  }
  .Divider {
    background-color: var(--divider-gray);
  }
}

.Boxshadow {
  background: linear-gradient(
    111deg,
    rgba(255, 250, 250, 0.29) 0.44%,
    rgba(255, 255, 255, 0.2) 95.45%
  );
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.bgnone {
  background-color: rgba(255, 0, 0, 0);
}
.maincolor {
  color: var(--textColor-main);
}
.textColortimingColor {
  // color: #5b5555 !important;
  color: var(--textColor-timingColor);
}
.storeListDivider {
  background-color: var(--cart-mainBG);
}
.BuycarBg {
  background-color: var(--cart-mainBG);
  border-radius: 10px;
}
.addsub {
  min-width: 125px;
  min-height: 40px;
  border-radius: 10px;
}
.paymetoptionBg {
  background-color: var(--bg-white);
}
.paymetoption {
  color: var(--textColor-light);
}
